Keyframe-extraction-main.zip
Keyframe-extraction-main/
src/pytorch_compact_bilinear_pooling-master/
*.zip
.vscode/
*.mp4
*.jpg
*.png
test/
outputs/
videos/
*.pyc
Dataset/
res_files/
res*
*.txt
*.json
*.npy